
<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.6/css/all.css" %>

  <!-- CSS Files -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>

  <%= stylesheet_link_tag "now-ui-dashboard.css" %>
  <!--<link href="/home/angeles/Crypto/app/assets/stylesheets/ /> -->

</head>
<%=@name = "BCH" %>
<%@last_time = Time.now %>
<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color = "blue">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
      <a  class="simple-text logo-mini">
        CP
      </a >
      <a  class="simple-text logo-normal">
        CryptoPrice
      </a>
    </div>
    <div class="sidebar-wrapper" >
      <ul class="nav">
        <li>

          <a href=<%=root_path %>
                 <p style="font-size:20px">BTC</p>
          </a>
        </li>
        <li>
          <%= link_to "LTC" , ltc_url, {:style=>'font-size:20px',} %>


        </li>
        <li>
          <%= link_to "ETH" , eth_url, {:style=>'font-size:20px',} %>

        </li>
        <li>
          <%= link_to "BCH" , bch_url, {:style=>'font-size:20px',} %>

        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" >Last 24 Hours Prices </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">

        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-lg">
      <canvas height="50px" id="bigDashboardChart"></canvas>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Price Difference Statistics</h5>
              <h4 class="card-title">Difference Last 5 Minutes</h4>
            </div>
            <div class="card-body">
              <div class="chart-area" >
                <canvas height="50px" id="barChartSimpleGradientsNumbers"></canvas>
              </div>
            </div>
            <div class="card-footer">
              <div class="stats">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-tasks">
            <div class="card-header">
              <h5 class="card-category">Best Deals</h5>
              <h4 class="card-title">Current Best Deals</h4>
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lowest Market</th>
                    <th scope="col">Highest Market</th>
                    <th scope="col">Difference</th>
                    <th scope="col">Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for i in 0..5 %>
                    <% if @last_prices_bitfinex_nr[i]==0 %>
                      <tr>
                        <td><%=(i+1).to_s%></td>
                        <td>Bitfinex</td>
                        <% if @last_prices_bitstamp_nr[i]>@last_prices_buda_nr[i] %>
                          <td>Bitstamp</td>
                          <td><% @last_prices_bitstamp_nr[i] %></td>
                        <%else %>
                          <td>Buda</td>
                          <td><%= @last_prices_buda_nr[i] %></td>
                        <%end %>
                        <td><%= @timestamps_bitfinex_nr[i] %></td>
                      </tr>
                  <% elsif @last_prices_bitstamp_nr[i]==0%>
                      <tr>
                        <td><%=(i+1).to_s%></td>
                        <td>Bitstamp</td>
                        <% if @last_prices_bitfinex_nr[i]>@last_prices_buda_nr[i] %>
                          <td>Bitfinex</td>
                          <td><% @last_prices_bitfinex_nr[i] %></td>
                        <%else %>
                          <td>Buda</td>
                          <td><%= @last_prices_buda_nr[i] %></td>
                        <%end %>
                        <td><%= @timestamps_bitfinex_nr[i] %></td>
                      </tr>
                    <%else %>
                      <tr>
                        <td><%=(i+1).to_s%></td>
                        <td>Buda</td>
                        <% if @last_prices_bitfinex_nr[i]>@last_prices_bitstamp_nr[i] %>
                          <td>Bitfinex</td>
                          <td><% @last_prices_bitfinex_nr[i] %></td>
                        <%else %>
                          <td>Bitstamp</td>
                          <td><%= @last_prices_bitstamp_nr[i] %></td>
                        <%end %>
                        <td><%= @timestamps_bitfinex_nr[i] %></td>
                      </tr>

                    <%end %>

                  <%end %>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <hr>
              <div class="stats">
                <%= image_tag("btc.png", class: "now-ui-icons loader_refresh spin")%> Updated <%=((Time.now - @last_time).seconds * 10000).round%> seconds ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-category">All Persons List</h5>
              <h4 class="card-title"> Employees Stats</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                  <th >
                    Name
                  </th>
                  <th >
                    Country
                  </th>
                  <th >
                    City
                  </th>
                  <th  class="text-right" >
                    Salary
                  </th>
                  </thead>
                  <tbody>
                  <tr >
                    <td >
                      Dakota Rice
                    </td>
                    <td >
                      Niger
                    </td>
                    <td >
                      Oud-Turnhout
                    </td>
                    <td  class="text-right" >
                      $36,738
                    </td>
                  </tr>
                  <tr >
                    <td >
                      Minerva Hooper
                    </td>
                    <td >
                      Curaçao
                    </td>
                    <td >
                      Sinaai-Waas
                    </td>
                    <td  class="text-right" >
                      $23,789
                    </td>
                  </tr>
                  <tr >
                    <td >
                      Sage Rodriguez
                    </td>
                    <td >
                      Netherlands
                    </td>
                    <td >
                      Baileux
                    </td>
                    <td  class="text-right" >
                      $56,142
                    </td>
                  </tr>
                  <tr >
                    <td >
                      Doris Greene
                    </td>
                    <td >
                      Malawi
                    </td>
                    <td >
                      Feldkirchen in Kärnten
                    </td>
                    <td  class="text-right" >
                      $63,542
                    </td>
                  </tr>
                  <tr >
                    <td >
                      Mason Porter
                    </td>
                    <td >
                      Chile
                    </td>
                    <td >
                      Gloucester
                    </td>
                    <td  class="text-right" >
                      $78,615
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <%=link_to  "BITFINEX", "https://www.bitfinex.com/" %>
              </a>
            </li>
            <li>
              <%=link_to  "BUDA", "https://www.buda.com" %>
              </a>
            </li>
            <li>
              <%=link_to  "BITSTAMP", "https://www.bitstamp.net/" %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</div>
</body>

<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>


<script>

    var ctx = document.getElementById("barChartSimpleGradientsNumbers").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%= raw (@timestamps_bitfinex.to_json)%>,
            datasets: [{
                label: 'Bitfinex',
                data: <%= raw(@last_prices_bitfinex.to_json)%>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',

                ],
                borderWidth: 1
            }, {
                label: 'Bitstamp',
                data: <%= raw (@last_prices_bitstamp.to_json)%>,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',

                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',


                ],
                borderWidth: 1
            }, {
                label: 'Buda',
                data: <%= raw (@last_prices_buda.to_json)%>,
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',


                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    bigDashboardChart
    var ctx1 = document.getElementById("bigDashboardChart").getContext('2d');


    var dataFirst = {
        label: "Bitfinex",
        data: <%= raw(@day_bitfinex.to_json)%>,
        lineTension: 0.3,
        fill: false,
        borderColor: 'red',
        backgroundColor: 'transparent',
        pointBorderColor: 'red',
        pointBackgroundColor: 'lightgreen',
        pointRadius: 5,
        pointHoverRadius: 15,
        pointHitRadius: 30,
        pointBorderWidth: 2,
        pointStyle: 'rect'
    };

    var dataSecond = {
        label: "Bitstamp",
        data: <%= raw(@day_bitstamp.to_json)%>,
        lineTension: 0.3,
        fill: false,
        borderColor: 'purple',
        backgroundColor: 'transparent',
        pointBorderColor: 'purple',
        pointBackgroundColor: 'lightgreen',
        pointRadius: 5,
        pointHoverRadius: 15,
        pointHitRadius: 30,
        pointBorderWidth: 2
    };
    var dataThird = {
        label: "Buda",
        data: <%= raw(@day_buda.to_json)%>,
        lineTension: 0.3,
        fill: false,
        borderColor: 'yellow',
        backgroundColor: 'transparent',
        pointBorderColor: 'purple',
        pointBackgroundColor: 'lightgreen',
        pointRadius: 5,
        pointHoverRadius: 15,
        pointHitRadius: 30,
        pointBorderWidth: 2
    };

    var speedData = {
        labels: <%= raw(@day_timestamps.to_json) %>,
        datasets: [dataFirst, dataSecond, dataThird]
    };

    var chartOptions = {
        legend: {
            display: true,
            position: 'top',
            labels: {
                boxWidth: 80,
                fontColor: 'white'
            }
        }
    };

    var lineChart = new Chart(ctx1, {
        type: 'line',
        data: speedData,
        options: chartOptions
    });


</script>



